/**
 *
 *  @Title: ${className}Dto.java
 *  @Package ${package}.controller.dto
 *  @author ${author}
 *  @version ${datetime}
 *  @version V1.0
 *  @Project:  skyway platform
 *  @Description: Copyright © 2019 SeiRobotics, All Rights Reserved.
 *
 */
package ${package}.controller.dto;

import com.mofei.base.dto.PageQryDto;
import io.swagger.annotations.ApiParam;
#if(${uselombok} == 'true')
import lombok.Getter;
import lombok.Setter;
#end


/** 
 *
 * @Description: ${className}查询输入操作类
 * @ClassName: ${className}QryInput 
 * @author ${author} 
 * @version ${datetime}
 * 
*/
#if(${uselombok} == 'true')
@Setter
@Getter
#end
public class ${className}QueryDto extends PageQryDto {


#foreach ($column in $columns)
#if($column.tableFixed == '')

	@ApiParam(name="$column.attrname",value = "$column.comments")
	private $column.attrType $column.attrname;
	
#end
#end

#if(${uselombok} != 'true')
#foreach ($column in $columns)
#if($column.tableFixed == '')

	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}

	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end
#end
#end
}