<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofei.mapper.UserMapper">
    <select id="getUserById" resultType="User">
    select * from user where id = #{id}
  </select>
    <select id="getUserByNameAndId" resultType="User">
    select * from user where id = ${id} and name = #{name}
  </select>
    <select id="getUserByMap" resultType="User">
    select * from ${tableName} where id = #{id} and name = #{name}
  </select>
    <select id="getUserByTO" resultType="User">
    select * from user where id = #{id} and name = #{name}
  </select>

    <insert id="addUser" parameterType="com.mofei.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        <!--
                <selectKey keyProperty="id" order="BEFORE" resultType="Integer"></selectKey>
        -->
        insert into user(id,name,create_time,update_time) values
        (#{id},#{name},#{createTime},#{updateTime})
    </insert>
    <update id="updateUser" parameterType="com.mofei.entity.User">
        update   user
         set name=#{name},gender=#{gender},email=#{email},create_time=#{createTime},update_time=#{updateTime}
         where id =#{id}
    </update>

    <delete id="deleteUser">
        delete from  user where id = #{id}
    </delete>
    <resultMap id="myResult" type="com.mofei.entity.User">
        <id column="id" property="id"/>
        <result column="nick_name" property="nickName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="userDetail"
                     javaType="com.mofei.entity.UserDetail">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
        </association>
    </resultMap>
    <select id="getUserWithDetail" resultMap="myResult">
        SELECT
	u.id,
	u.name name,
	u.gender gender,
	u.email email,
	u.nick_name nick_name,
	u.create_time create_time,
	u.update_time update_time,
	ud.id did,
  ud.name dname
FROM
	`user` u,
	user_detail ud
WHERE
	u.d_id = ud.id
AND u.id = #{id}
    </select>
</mapper>