/**
 *
 *  @Title: ${className}Dto.java
 *  @Package ${package}.controller.dto
 *  @author ${author}
 *  @version ${datetime}
 *  @version V1.0
 *  @Project:  skyway platform
 *  @Description: Copyright © 2019 SeiRobotics, All Rights Reserved.
 *
 */
package ${package}.service.impl;

import org.springframework.stereotype.Service;
import com.mofei.cainiao.base.servise.impl.BaseServiceImpl;
import ${package}.entity.${className};
import ${package}.repository.${className}Repository;
import ${package}.service.I${className}Service;

@Service("${classname}Service")
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Repository, ${className}> implements I${className}Service {

}